#AuthUserFile C:\www\speervi\repertoire_protege\.htpasswd
#AuthGroupFile /dev/null
#AuthName "Accès réservé -- Accès démo"
#AuthType Basic
#<Limit GET POST>
#require valid-user
#</Limit>
RewriteEngine on


 
